/*
 * sircus-tools-display-responsive
 ================================================== */

.t-sm-block,
.t-md-block,
.t-lg-block,
.t-sm-inlineBlock,
.t-md-inlineBlock,
.t-lg-inlineBlock,
.t-sm-inline,
.t-md-inline,
.t-lg-inline {
  display:none !important;
}

@media (--g-viewport-sm) {
  .t-sm-none  { display: none !important; }
  .t-sm-block { display: block !important; }
  .t-sm-inlineBlock { display: inline-block !important; }
  .t-sm-inline { display: inline !important; }
}


@media (--g-viewport-md) {
  .t-md-none { display: none !important; }
  .t-md-block { display: block !important; }
  .t-md-inlineBlock { display: inline-block !important; }
  .t-md-inline { display: inline !important; }
}


@media (--g-viewport-lg) {
  .t-lg-none { display: none !important; }
  .t-lg-block { display: block !important; }
  .t-lg-inlineBlock { display: inline-block !important; }
  .t-lg-inline { display: inline !important; }
}
